<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MLC Course Workload Estimator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="mask-icon" href="assets/favicon.svg" color="#000000">
  <link rel="icon" href="assets/favicon.svg">
  <link rel="shortcut icon" href="assets/favicon.svg">
  <style>
    body {
      background-color: #003d6b;
    }
    header {
      color: white;
      background-color: #003d6b;
    }
    h1 {
      background-image: url(assets/mlc-logo.svg);
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 60px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    main {
      min-height: 100%;
      background-color: white;
    }
    footer {
      color: white;
      background-color: #003d6b;
    }
    .form-label {
      font-weight: bold;
      font-size: 0.9rem;
    }
  </style>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="">Course Workload Estimator</h1>
    </div>
  </header>

  <main id="app">
    <div class="container py-4">
      <div class="row">
        <div class="col">
          <h2 class="h6 text-uppercase text-center">Course Info</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3">
                <label for="class-weeks" class="form-label">Class Duration (Weeks):</label>
                <input type="number" min="0" class="form-control" id="class-weeks" v-model="classWeeks">
              </div>
            </div>
          </div>
          <h2 class="h6 text-uppercase text-center">Reading Assignments</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3">
                <label for="weekly-pages" class="form-label">Pages Per Week:</label>
                <input type="number" min="0" class="form-control" id="weekly-pages" v-model="readingWeeklyPages">
              </div>
              <hr>
              <div class="mb-3">
                <label for="reading-density" class="form-label">Page Density:</label>
                <select class="form-select" id="reading-density" v-model="readingDensity">
                  <option value="0">450 Words (Paperback)</option>
                  <option value="1">600 Words (Monograph)</option>
                  <option value="2">750 Words (Textbook)</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="reading-difficulty" class="form-label">Difficulty:</label>
                <select class="form-select" id="reading-difficulty" v-model="readingDifficulty">
                  <option value="0">No New Concepts</option>
                  <option value="1">Some New Concepts</option>
                  <option value="2">Many New Concepts</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="reading-purpose" class="form-label">Purpose:</label>
                <select class="form-select" id="reading-purpose" v-model="readingPurpose">
                  <option value="0">Survey</option>
                  <option value="1">Understand</option>
                  <option value="2">Engage</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="reading-rate" class="form-label">Estimated Reading Rate:</label>
                <div id="reading-rate">{{estimatedReadingRate}} pages per hour</div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" v-model="useManualReadingRate" id="use-manual-reading-rate">
                <label class="form-check-label" for="use-manual-reading-rate">
                  manually adjust
                </label>
              </div>
              <div class="mb-3" v-if="useManualReadingRate">
                <label for="override-pages-per-hour" class="form-label">Pages Read Per Hour:</label>
                <input type="number" min="0" class="form-control" id="override-pages-per-hour" v-model="overridePagesPerHour">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2 class="h6 text-uppercase text-center">Writing Assignments</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3">
                <label for="semester-pages" class="form-label">Pages Per Semester:</label>
                <input type="number" min="0" class="form-control" id="semester-pages" v-model="writingSemesterPages">
              </div>
              <hr>
              <div class="mb-3">
                <label for="writing-density" class="form-label">Page Density:</label>
                <select class="form-select" id="writing-density" v-model="writingDensity">
                  <option value="0">250 Words</option>
                  <option value="1">500 Words</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="writing-genre" class="form-label">Genre:</label>
                <select class="form-select" id="writing-genre" v-model="writingGenre">
                  <option value="0">Reflection/Narrative</option>
                  <option value="1">Argument</option>
                  <option value="2">Guided Research</option>
                  <option value="3">Research</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="writing-drafting" class="form-label">Drafting:</label>
                <select class="form-select" id="writing-drafting" v-model="writingDrafting">
                  <option value="0">No Drafting</option>
                  <option value="1">Minimal Drafting</option>
                  <option value="2">Extensive Drafting</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="writing-rate" class="form-label">Estimated Writing Rate:</label>
                <div id="writing-rate">{{hourFormat(estimatedWritingRate)}} pages per hour</div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" v-model="useManualWritingRate" id="use-manual-writing-rate">
                <label class="form-check-label" for="use-manual-writing-rate">
                  manually adjust
                </label>
              </div>
              <div class="mb-3" v-if="useManualWritingRate">
                <label for="override-writing-pages-per-hour" class="form-label">Pages Read Per Hour:</label>
                <input type="number" min="0" class="form-control" id="override-writing-pages-per-hour" v-model="overrideWritingPagesPerHour">
              </div>
            </div>
          </div>
          <h2 class="h6 text-uppercase text-center">Videos / Podcasts</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label for="video-weekly-hours" class="form-label">Hours Per Week:</label>
                    <input type="number" min="0" class="form-control" id="video-weekly-hours" v-model="videoWeeklyHours">
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2 class="h6 text-uppercase text-center">Discussion Posts</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3">
                <label for="weekly-discussions" class="form-label">Posts Per Week:</label>
                <input type="number" min="0" class="form-control" id="weekly-discussions" v-model="discussionWeeklyPosts">
              </div>
              <hr>
              <div class="mb-3">
                <label for="discussion-format" class="form-label">Format:</label>
                <select class="form-select" id="discussion-format" v-model="discussionFormat">
                  <option value="0">Text</option>
                  <option value="1">Audio/Video</option>
                </select>
              </div>
              <div class="mb-3" v-if="discussionFormat == 0">
                <label for="discussion-length-words" class="form-label">Avg. Length (Words):</label>
                <input type="number" min="0" class="form-control" id="discussion-length-words" v-model="discussionWordLength">
              </div>
              <div class="mb-3" v-else>
                <label for="discussion-length-minutes" class="form-label">Avg. Length (Minutes):</label>
                <input type="number" min="0" class="form-control" id="discussion-length-minutes" v-model="discussionVideoLength">
              </div>
              <div class="mb-3">
                <label for="writing-rate" class="form-label">Estimated Hours:</label>
                <div id="writing-rate">{{hourFormat(discussionPostWeeklyHours)}} hours / week</div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" v-model="useManualDiscussionRate" id="use-manual-discussion-rate">
                <label class="form-check-label" for="use-manual-discussion-rate">
                  manually adjust
                </label>
              </div>
              <div class="mb-3" v-if="useManualDiscussionRate">
                <label for="override-discussion-hours" class="form-label">Hours Per Week:</label>
                <input type="number" min="0" class="form-control" id="override-discussion-hours" v-model="overrideDiscussionHours">
              </div>
            </div>
          </div>
          <h2 class="h6 text-uppercase text-center">Exams</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label for="semester-exams" class="form-label">Exams Per Semester:</label>
                    <input type="number" min="0" class="form-control" id="semester-exams" v-model="semesterExams">
                </div>
                <div class="mb-3">
                    <label for="exam-study-hours" class="form-label">Study Hours Per Exam:</label>
                    <input type="number" min="0" class="form-control" id="exam-study-hours" v-model="examStudyHours">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" v-model="useTakeHomeExams" id="use-take-home-exams">
                    <label class="form-check-label" for="use-take-home-exams">
                      Take-Home Exams
                    </label>
                </div>
                <div class="mb-3" v-if="useTakeHomeExams">
                    <label for="exam-time-limit" class="form-label">Exam Time Limit (in Minutes):</label>
                    <input type="number" min="0" class="form-control" id="exam-time-limit" v-model="takeHomeExamTimeLimit">
                  </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2 class="h6 text-uppercase text-center">Other Assignments</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label for="other-assignments" class="form-label"># Per Semester:</label>
                    <input type="number" min="0" class="form-control" id="other-assignments" v-model="otherAssignments">
                </div>
                <div class="mb-3">
                    <label for="other-hours" class="form-label">Hours Per Assignment:</label>
                    <div class="text-center">{{otherHours}}</div>
                    <input type="range" class="form-range" min="0" max="50" id="other-hours" v-model="otherHours">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="other-engage" v-model="otherEngage">
                    <label class="form-check-label" for="other-engage">
                      Independent
                    </label>
                </div>
            </div>
          </div>
          <h2 class="h6 text-uppercase text-center">Class Meetings</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3">
                <label for="sync-sessions" class="form-label">Live Meetings Per Week:</label>
                <input type="number" min="0" class="form-control" id="sync-sessions" v-model="syncSessions">
              </div>
              <div class="mb-3">
                <label for="sync-length" class="form-label">Meeting Length (Hours):</label>
                <input type="number" min="0" class="form-control" id="sync-length" v-model="syncLength">
              </div>
            </div>
          </div>
          <hr>
          <h2 class="h6 text-uppercase text-center">Workload Estimates</h2>
          <div class="card text-bg-light mb-3">
            <div class="card-body">
              <div class="mb-3 form-label text-end">Total: <span class="text-nowrap">{{hourFormat(totalWorkload)}} hrs/wk</span></div>
              <div class="mb-3 form-label text-end">Independent: <span class="text-nowrap">{{hourFormat(independentWorkload)}} hrs/wk</span></div>
              <div class="mb-3 form-label text-end">Contact: <span class="text-nowrap">{{hourFormat(contactWorkload)}} hrs/wk</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <p class="text-center my-4">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img src="assets/by-nc-sa.png" width="117" height="41" alt="CC BY-NC-SA 4.0 DEED">
        </a>
        <br>Based upon <a class="text-white" href="https://cat.wfu.edu/resources/workload2/">Workload Estimator 2.0</a> by Center for the Advancement of Teaching at Wake Forest University.
        <br><a class="text-white" href="https://martinluther.github.io/CourseWorkloadEstimator/">Published Version</a> 
            &mdash; <a class="text-white" href="https://github.com/martinluther/CourseWorkloadEstimator">Source Code</a>
      </p>
    </div>
  </footer>
  <script>
const app = Vue.createApp({
  data() {
    return {
      readingRates: [
        [[67, 47, 33], [33, 24, 17], [17, 12, 9]], 
        [[50, 35, 25], [25, 18, 13], [13, 9, 7]], 
        [[40, 28, 20], [20, 14, 10], [10, 7, 5]]
      ],
      writingRates:[
        [[0.75, 1.5], [1, 2], [1.25, 2.5]], 
        [[1.5, 3],    [2, 4], [2.5, 5]], 
        [[2, 4],      [2.66, 5.33], [3.33, 6.66]], 
        [[3, 6],      [4, 8], [5, 10]]
      ],
      classWeeks: 15,
      readingWeeklyPages: 0,
      readingDensity: 0,
      readingDifficulty: 0,
      readingPurpose: 0,
      useManualReadingRate: false,
      overridePagesPerHour: 10,
      writingSemesterPages: 0,
      writingDensity: 0,
      writingGenre: 0,
      writingDrafting: 0,
      videoWeeklyHours: 0,
      useManualWritingRate: false,
      overrideWritingPagesPerHour: 0.5,
      discussionWeeklyPosts: 0,
      discussionFormat: 0,
      discussionWordLength: 250,
      discussionVideoLength: 3,
      useManualDiscussionRate: false,
      overrideDiscussionHours: 1,
      semesterExams: 0,
      examStudyHours: 5,
      useTakeHomeExams: false,
      takeHomeExamTimeLimit: 60,
      otherAssignments: 0,
      otherHours: 0,
      otherEngage: false,
      syncSessions: 0,
      syncLength: 0,
    }
  },
  computed: {
    estimatedReadingRate() {
      return this.readingRates[this.readingDensity][this.readingPurpose][this.readingDifficulty];
    },
    readingRate(){
      if (this.useManualReadingRate){
        return this.overridePagesPerHour;
      } else {
        return this.estimatedReadingRate;
      }
    },
    estimatedWritingRate() {
        return this.writingRates[this.writingGenre][this.writingDrafting][this.writingDensity];
    },
    writingRate(){
        if (this.useManualWritingRate){
            return this.overrideWritingPagesPerHour;
        } else {
            return this.estimatedWritingRate;
        }
    },
    discussionPostWeeklyHours(){
      if (this.useManualDiscussionRate){
        return this.overrideDiscussionHours;
      } else {
        if (this.discussionFormat === 0){
          // 250 => one hour to write 250 words
          return this.discussionWordLength * this.discussionWeeklyPosts / 250;
        } else {
          // 3 => 20 minutes to record one minute of video
          return this.discussionVideoLength * this.discussionWeeklyPosts / 3;
        }
      }
    },
    independentWorkload(){
      return (
        (this.readingWeeklyPages / this.readingRate)
        + (this.writingRate * this.writingSemesterPages / this.classWeeks)
        + (this.semesterExams * this.examStudyHours / this.classWeeks)
        + this.videoWeeklyHours
        + (this.otherEngage ? this.otherAssignments * this.otherHours / this.classWeeks : 0)
        + ((this.useTakeHomeExams ? this.takeHomeExamTimeLimit / 60 : 0) * this.semesterExams / this.classWeeks)
      );
    },
    contactWorkload(){
      return (
        this.discussionPostWeeklyHours
        + (this.syncSessions * this.syncLength)
        + (this.otherEngage ? 0 : this.otherAssignments * this.otherHours / this.classWeeks)
      );
    },
    totalWorkload(){
      return this.independentWorkload + this.contactWorkload;
    },
  },
  methods: {
    hourFormat(hours){
      return Number(hours.toFixed(2));
    }
  },
}).mount('#app')

  </script>
</body>

</html>